model/
data_for_tokenizing/*/*/*.*
data_for_tokenizing/*/*/*.*.*
dataset/
dataset/df_summary.pickle
dataset/df_glaw_corpus_full.pickle
kobert/
temp/
history/
vectorizer.json
sandbox.py
sandbox.*
*.preproc
*.model
*.csv
*.pth
*.pickle
*.bin
*.png
*.history
*.json
*.zip
*.dev
*.test
*.train
*.train.zip
*.pyc
*.txt
*.tar